<!DOCTYPE html>
<html>
  <head>
    <title>YoutubeVideo03</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    {
 "items": [
  {
   "id": "JaZMvBuKcUA",
   "snippet": {
    "title": "【フジロック】RADWIMPS 公演 7/28",
    "thumbnails": {
     "default": {
      "url": "https://i.ytimg.com/vi/JaZMvBuKcUA/default.jpg",
      "width": 120,
      "height": 90
     },
     "medium": {
      "url": "https://i.ytimg.com/vi/JaZMvBuKcUA/mqdefault.jpg",
      "width": 320,
      "height": 180
     },
     "high": {
      "url": "https://i.ytimg.com/vi/JaZMvBuKcUA/hqdefault.jpg",
      "width": 480,
      "height": 360
     },
     "standard": {
      "url": "https://i.ytimg.com/vi/JaZMvBuKcUA/sddefault.jpg",
      "width": 640,
      "height": 480
     }
    },
    "channelTitle": "いかちょ"
   },
   "statistics": {
    "viewCount": "67063",
    "likeCount": "1719",
    "dislikeCount": "103",
    "favoriteCount": "0",
    "commentCount": "498"
   }
  }
 ]
}
  </body>
</html>
